/* utility */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
header{
    margin: 0;
    text-align: center;
    line-height: 70px;
    background-color: #46B2E0;
    color: white;
    font-weight: 700;
}
main{
    margin: 4rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.heading-text{
    color: rgb(77, 75, 75);
    font-size: 2em;
    font-weight: 700;
}
.top-text p{
    text-align: left;
}
.button{
    background-color: #23C4ED;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
     text-decoration: none;
}

/* top section*/

 .top-section{
     margin:0 1rem;
 }
 
 .flex-it{
    display: flex;
     
}


/* animation */

.car-animation{
    border: 2px solid;    
    margin: 30px 10px;
    padding: 100px;
}
.small-car{
    width: 15%;
    height: 15%;
    transition: transform .4s ease-out .2s;
    
}
.big-car{
    width: 15%;
    height: 15%;
    transition: transform .4s ease-out .3s;
    position: relative;
    left: 200px;

}

.car-animation:hover .small-car{
    transform: translateX(600px);
}
.car-animation:hover .big-car{
    transform: translate(300px,-50px) rotate(30deg);
    

}

/* popular collection */

.collection-heading{
    text-align: center;
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    
}
.products{
    width: 15em;
    margin: 0.1em .1em;
    padding: .6em;
    border-radius: .5em;
    box-shadow: 3px 4px 10px #88888854;
    
}
.products img{
    width: 100%;
    padding: 0em;
}
.product-info p{
    text-align: left;
}
.fa-star{
    color: goldenrod;
}
.empty-star{
    color: gray;
}
/* third-section */
.half-width{
    width: 50%;
    margin: 60px 0px 10px;
    padding: 50px;
}
.half-width img{
    width: 100%;
    border-radius: 5px;
    
}
.half-width h3{
    text-align: center;
}
.half-width:hover img{
    box-shadow: 3px 4px 30px #88888854;
}


/* footer section starts*/
footer{
    
    text-align: center;
  padding: 3px;
  background-color: #46B2E0;
  color: white;
}
footer h3 , p{
    text-align: center;
    
}
/* footer section ends */

/* media query */


@media only screen and (max-width:576px) {
    header{
        margin: 0px 20px;
    }
    .popular-collections{
        grid-template-columns: repeat(1,1fr);
        
    }
    .flex-it{
        display: flex;
        flex-flow: column;
    }
    #first-object{order:2;}
    #second-object{order:1;}
    
    .half-width{
        padding: 0;
        width: 400px;
    }
    /* animation */
    .car-animation{
        padding: 100px 120px 100px 70px;
    }
    .small-car{
        height: 30px;
        width: 90px;
        left: 100px;
    }
    .big-car{
        height: 30px;
        width: 90px;
        left: 100px;
    }

}

@media only screen and (min-width:577px) and (max-width:768px) {
    header{
        margin: 0px 20px;
    }
    .ab{
        display: flex;
        flex-flow: column;
    }

    #first-object{order:2;}
    #second-object{order:1;}
    
    .popular-collections{
        grid-template-columns: repeat(2,1fr);
    }
    .flex-it{
        display: flex;
        flex-flow: column;
    }
    #a{order:2;}
    #b{order:1;}
    .half-width{
        padding: 0;
        width: 500px;
    }
    /* animation */
    .car-animation{
        padding: 100px 120px 100px 70px;
    }

    .small-car{
        height: 30px;
        width: 90px;
        left: 100px;
    }
    .big-car{
        height: 30px;
        width: 90px;
        left: 100px;
    }
}





